body {
    font-family: Arial, sans-serif; /* Основной шрифт для страницы */
}

table {
    width: 50%;        
    margin: 0 auto;    
    border-collapse: collapse;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.hebrew-text {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
}

.audio-button {
    cursor: pointer;
}

@media (max-width: 600px) {
    table {
        width: 100%;
    }
}
