body {
    font-family: Arial, sans-serif; /* Основной шрифт для страницы */
}

table {
    width: 50%;        
    margin: 0 auto;    
    border-collapse: collapse;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.hebrew-text {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    text-align: right;
    /* width: 40%; */
    direction: rtl;
}

.russian-text {
    
    text-align: left;
}

.sound_button-column {
    
    width: 15mm;
}

.number {
    
    text-align: center;
    width: 1cm;
}


.audio-button {
    cursor: pointer;
    
}

@media (max-width: 600px) {
    table {
        width: 100%;
    }
}

.youtube-video {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

th {
    position: sticky;
    top: 0;
    background-color: rgb(175, 204, 239); /* Выберите подходящий цвет фона */
    z-index: 1; /* Убедитесь, что заголовок будет поверх других элементов */
}

h1 {
    font-size: 36px;
    color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
    text-align: center;
}
